[submodule "mcp-knowledge-graph"]
	path = mcp-knowledge-graph
	url = https://github.com/itseasy21/mcp-knowledge-graph
[submodule "ollama-schematics-ui"]
	path = ollama-schematics-ui
	url = ./ollama-schematics-ui
