node_modules
node_modules

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Cache files
.cache/
.npm/
.eslintcache
.stylelintcache

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store

# Build and testing
/build/
/dist/
/coverage/
/tmp/

.gait/custom-merge-driver.sh

logs
dev-debug.log
# Dependency directories
node_modules/
.idea
.vscode
# OS specific

# Task files
# tasks.json
# tasks/

# Task-master files
.kiro
.roo
.zed
.windsurf
.vscode
.trae
.taskmaster
.gemini
.gait
.clinerules
.claude
.bak
__mocks__

